img {
    position: absolute;
}
#arch {
    top:calc(100% - 90% );
    left:calc(100% - 90%);
}
#tech {
    top:calc(100% - 10%);
    left:calc(100% - 10%);
}
#animals {
    top:calc(100% - 90%);
    left:calc(100% - 10%);
}
#nature {
    top:calc(100% - 10%);
    left:calc(100% - 90%);
}