

article{
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

/*Opdracht code*/
article:nth-child(even) {
    float: left;
}
article:nth-child(odd){
    float: right;
}
article:nth-child(even) img{
    float: left;
    margin: 10px;
}
article:nth-child(odd) img{
    float: right;
    margin: 10px;
}

p{
    margin: 10px;
    font-size: 1.25em;
    clear: both;
}
