
body{
    margin: 0px;
    width: 95%;
    margin: auto;
    border: 2px solid blue;
    padding:0px 5px;
}

section > header{
    margin: 0px;
    height: 100px;
    color: white;
    background-image: url("../images/header.jpg");
    background-repeat: repeat;
    background-size: cover;
}
section > header h1{
    margin: 0px;
}
section > nav{
    background-color: rgb(80, 80, 80);
}
section > nav a{
    text-decoration: none;
    color: green;
    font-weight: bolder;
}
article{
    margin: 0px;
    background-color: lightgrey;
}

article header h1{
    margin-top: 5px;
    color: grey;
    text-decoration: underline;

}