*{
    text-decoration: none;
}
body{
    font-family: Verdana;
    font-size:  1.1em;
    background-color: silver;
    color: darkblue;
}
h1{
    font-variant: all-small-caps;
    background-color: red;
}
a:hover{
    font-weight: 500;
    border-left: 10px solid black;
}
.stippeltjesrand{
    border: 1px dotted black ;
}